.Menu {
    grid-area: m;
    background-color: red;
    text-align: center;
    padding: 20px;
}

.Items a {
    color: silver;
    text-decoration: none;
}

.Menu a.Active {
    color: brown;
}

.Menu img {
    width: 40px;
    height: 40px;
}